.contact {
    width: 118.75rem;
    height: 64.125rem;
    background-image: url(../../assets/Background-Contact-Form.jpg);
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        background-color:rgba(255,255,255,0.75);
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        }
}

.contactForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 12.5rem;
    margin-right: 8.875rem;

     h2{
         width: 22.375rem ;
         height: 3.25rem;
         font-size: 2.375rem;
         text-align: center;
         font-weight: 300;
         font-family: $font-base;
         letter-spacing: -0.76px;
         color: $color-black;
         opacity: 1;
         margin-bottom: 1.875rem;
     }
}

form {
    display: flex;
    flex-direction: column;
    width: 33rem;
    height: 20.438rem;
    margin-top: 4.375rem;

    button {
        width: 9.375rem;
        height: 3.125rem;
        text-decoration: none;
        background-color: rgba(255,255,255,0.0);
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        border: 0.75px solid $color-black;
        opacity: 1;
        font-size: 1.125rem;
        color: #000000;
        font-weight: 300;
        font-family: $font-base;
        padding: 0;
        margin:0.625rem 0;
    }
    p {
        font-size: 1rem;
        color: $color-black;
        font-weight: 600;
        font-family: $font-base;
    }

    input {
        width: 16rem;
        text-decoration: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $color-light-grey;
        background-color: rgba(255,255,255,0.0);

            & {
                font-size: 18px;
                color: $color-black;
                font-family: $font-base;
                font-weight: 300;
            }
    }
        .singleInput{
            width: 16rem;
            height: 3.875rem;
           
        }

        .singleInputFirst {
            margin-right: 1rem;
        }
        textarea {
            resize: none;
            width: 33rem;
            height: 6.063rem;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $color-light-grey;
            background-color: rgba(255,255,255,0.0);

                & {
                font-size: 18px;
                color: $color-black;
                font-family: $font-base;
                font-weight: 300;
                text-align: left;
                }
        }
    }
        




.contactFormInput {
    display: flex;
    align-content: space-between;
}

.contactFormTextarea {
    margin-top: 2.5rem;
}

textarea::placeholder, input::placeholder {
    color: #3C3C3C26;
}

.footer {
    width: 59.375rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translate(825px, -50px);

        p {
            font-size: 1.125rem;
            font-family: $font-base;
            font-weight: 300;
            color: $color-black;
            opacity: 1;
        }
}

.footerIconBox {
    width: 5rem;
}